.make-with-love-container {
    position: absolute;
    left: 27px;
    right: 27px;
    bottom: 0px;
    height: 70px;
    background: linear-gradient(180deg, #957DCD 0%, #523D7F 100%);
    border-radius: 15px;
  }

  .make-with-love-container span {
    box-sizing: border-box;
    align-items: center;

  }