.button {
    background: linear-gradient(180deg, #957DCD 0%, #523D7F 100%);
    border-radius: 100px;
    border: none;
    font-size: 18px;
    font-weight: normal;
    width: 200px;
    height: 42px;
    margin: 1vh;
}