.list-page-container {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: 6vh auto 0 auto;
}

.list-page-container h1 {
  font-size: 32px;
  width: fit-content;
}

.list-page-input-and-magnifying-glass {
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-items: center;
}

.list-magnifying-glass {
  margin: 6px 0 0 12px;
}

.list-magnifying-glass:hover {
  cursor: pointer;
}

.list-page-search-city {
  margin-top: 36px;
}

.list-page-search-city span {
  font-size: 22px;
  font-weight: bold;
}

.list-page-search-city input {
  background: linear-gradient(180deg, #957dcd 0%, #523d7f 100%);
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-size: 16px;
  outline: none;
  height: 4vh;
  min-height: 30px;
  padding-left: 1vw;
  margin-top: 8px;
  width: 16vw;
}

.list-page-info-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vw;
  padding: 0 2.5vw 0 2.5vw;
  margin: 2vh 0 1vh 0;
}

.list-page-info-header span {
  font-size: 22px;
  font-weight: bold;
}

.list-all-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  width: 92vw;
  max-height: 35vh;
}

.list-page-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(
    180deg,
    rgba(149, 125, 205, 0.29) 0%,
    #523d7f 100%
  );
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  outline: none;
  height: 20vh;
  width: 90vw;
  min-height: 30px;
  padding-left: 1vw;
  justify-content: center;
  align-items: center;
  margin: 0 0 8px 0;
}

.list-page-info-city {
  width: 41vw;
}

.list-page-info-date {
  width: 40vw;
}

.list-page-info img {
  width: 26px;
  margin: 0 1em 0 0.4em;
  cursor: pointer;
}

.list-all-info::-webkit-scrollbar {
  width: 8px;
}

.list-all-info::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.list-all-info::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.list-pagination {
  display: flex;
  justify-content: center;
  margin-top: 4vh;
  font-size: 18px;
  font-weight: bold;
  white-space: pre;
}

.list-pagination:hover div {
  cursor: pointer;
}
