.title-and-options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.title-and-options-title {
  font-size: 18px;
}

.title-and-options-options {
  display: flex;
  flex-direction: column;
}

.title-and-options-option {
  background: linear-gradient(180deg, #957dcd 0%, #523d7f 100%);
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  outline: none;
  margin-top: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}

.title-and-options-option-selected {
  background: linear-gradient(
    180deg,
    rgba(196, 193, 245, 0.29) 10%,
    #270773 90%
  );
}
