.body-container{
  box-sizing: border-box;
}

.search-city {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 55%;
}

.search-city span{
  order: 1;
  font-weight: 600;
  font-size: 22px;
  left: 5%;
  width: 20vw;
}
.search-city input {
  order: 2;
  box-sizing: border-box;
  width: 30vw;
}

.today {
  left: 100px;
  top: 36px;
  font-size: 24px;
  font-weight: bold;
}

.weather-today {
  position: absolute;
  width: 90%;
  height: 186px;
  left: 90px;
  top: 100px;
  background: linear-gradient(180deg, #957DCD 0%, #523D7F 100%);
  border-radius: 15px;
}

.imagem-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.cloud-image {
  position: absolute;
  top: 100px;
  left: 300px;
}

.umbrella-image {
  position: absolute;
  top: 100px;
  left: 900px;
}

.drop-image {
  position: absolute;
  top: 100px;
  left: 1200px;
}

.air-image {
  position: absolute;
  top: 100px;
  right: 400px;
}
