* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    color: #FFF;
    position: relative;
}

body {
    overflow: hidden;
}
