.register-page-container {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: 6vh auto 0 auto;
}

.register-page-container h1 {
  font-size: 32px;
  width: fit-content;
}

.city-and-date-container {
  display: flex;
  margin-top: 36px;
}

.city-and-date-input {
  width: 50%;
}

.register-info-container {
  display: flex;
  align-items: center;
  margin: 5vh auto;
  width: 90vw;
  height: 30vh;
  background: linear-gradient(
    180deg,
    rgba(149, 125, 205, 0.29) 0%,
    #523d7f 100%
  );
  border-radius: 15px;
}

.register-info-selectors {
  display: flex;
  width: 30%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.forecast-selector,
.shift-selector {
  padding: 0 10%;
}

.register-info-inputs {
  display: flex;
  width: 70%;
  height: 80%;
  justify-content: center;
  text-align: center;
}

.maxtemperature-and-precipitation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10% auto;
  width: 30%;
}

.humidity-input {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 30%;
}

.mintemperature-and-airspeed {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
}

.register-page-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 90vw;
}

@media (max-width: 900px) {
  .city-and-date-container {
    margin-top: 20px;
  }

  .city-and-date-container {
    flex-direction: column;
  }

  .city-and-date-input {
    padding: 1vh 0;
  }

  .register-info-container {
    margin: 0 auto;
    padding: 20px;
    flex-direction: column;
    height: 35vh;
  }

  .register-info-selectors {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
  }

  .forecast-selector,
  .shift-selector {
    padding: 0 1vw;
  }

  .register-info-inputs {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: start;
    gap: 0;
  }

  .maxtemperature-and-precipitation {
    flex-direction: row;
    width: 33%;
    height: 10vh;
    align-items: flex-end;
  }

  .humidity-input {
    flex-direction: row;
    width: 32%;
    align-items: flex-end;
    justify-content: center;
    height: 10vh;
  }

  .mintemperature-and-airspeed {
    flex-direction: row;
    width: 35%;
    height: 10vh;
    align-items: flex-end;
  }
}

@media (max-width: 770px) {
  .register-page-container {
    margin: 0 2vw;
  }

  .register-page-container h1 {
    font-size: 24px;
  }

  .city-and-date-container {
    margin-top: 6px;
  }

  .register-info-container {
    flex-direction: column;
    height: 45vh;
    margin: 1vh auto;
  }

  .register-info-selectors {
    height: 40%;
  }

  .maxtemperature-and-precipitation {
    flex-wrap: wrap;
    height: 25vh;
    align-items: end;
  }

  .humidity-input {
    height: 25vh;
  }

  .mintemperature-and-airspeed {
    flex-wrap: wrap;
    height: 25vh;
  }

  .register-page-buttons {
    justify-content: center;
  }
}
