.search {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: 2vh auto auto auto;
}

.search-content {
  width: min-content;
  align-self: flex-end;
}

.second-row {
  display: flex;
  align-items: center;
}

.search span {
  font-weight: 600;
  font-size: 22px;
  width: 20vw;
  margin-left: 1.5vw;
}

.circle {
  margin-left: 1vw;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  background: linear-gradient(180deg, #957DCD 0%, #523D7F 100%);
  align-items: center;
}

.location-image {
  width: 1vw;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 25%);
}

.point-image {
  width: 0.4vw;
  transform: translate(-50%, -100%);
}



