.search {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: 2vh auto auto auto;
}

.search-city-input-and-image {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-city-input-and-image input {
  background: linear-gradient(180deg, #957dcd 0%, #523d7f 100%);
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-size: 16px;
  outline: none;
  height: 4vh;
  min-height: 30px;
  padding-left: 1vw;
  margin-left: 0.5vw;
  width: 30vw;
}

.search-content {
  width: min-content;
  align-self: flex-end;
}

.second-row {
  display: flex;
  align-items: center;
}

.search span {
  font-weight: 600;
  font-size: 22px;
  width: 20vw;
  margin-left: 1.5vw;
}

.circle {
  margin-left: 1vw;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: linear-gradient(180deg, #957dcd 0%, #523d7f 100%);
  align-items: center;
}

.location-icon {
  width: 18px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 25%);
}
