.input-title-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: baseline;
}

.input-title-container span {
  font-size: 16px;
}

.input-title-above {
  background: linear-gradient(180deg, #957dcd 0%, #523d7f 100%);
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-size: 16px;
  outline: none;
  margin-top: 8px;
  min-width: 64px;
}
