.search {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: 2vh auto auto auto;
}

.search-city-input-and-image {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-city-input-and-image input {
  background: linear-gradient(180deg, #957dcd 0%, #523d7f 100%);
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-size: 16px;
  outline: none;
  height: 4vh;
  min-height: 30px;
  padding-left: 1vw;
  margin-left: 0.5vw;
  width: 30vw;
}

.search-content {
  width: min-content;
  align-self: flex-end;
}

.input-and-icons-row {
  display: flex;
  align-items: center;
}

.search span {
  font-weight: 600;
  font-size: 22px;
  width: 20vw;
  margin-left: 1.5vw;
}

.circle {
  margin-left: 1vw;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: linear-gradient(180deg, #957dcd 0%, #523d7f 100%);
  align-items: center;
}

.location-icon {
  width: 18px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 25%);
}

.magnifying-glass:hover {
  cursor: pointer;
}

.today-container {
  width: 90vw;
  margin: 0 auto 0 auto;
}

.today {
  bottom: 3vh;
  font-size: 28px;
  font-weight: bold;
}

.weather-today {
  display: flex;
  align-items: center;
  width: 90vw;
  height: 20vh;
  background: linear-gradient(180deg, #957dcd 0%, #523d7f 100%);
  border-radius: 15px;
}

.small-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 35em;
  margin-top: 1vw;
  margin-left: 25vw;
}

.small-icons img {
  width: 4vw;
  min-width: 50px;
  margin-top: -2vh;
  margin-bottom: 1vh;
  height: auto;
}

.cloud-image {
  width: 9vw;
  height: auto;
  min-width: 100px;
  margin-top: 2vh;
  margin-left: 10vw;
}

.today-temperature {
  margin-left: 3vw;
}

.todays-max-temperature {
  font-size: 48px;
}

.max-degree {
  font-size: 24px;
  bottom: 3vh;
}

.separation-between-temperature {
  font-size: 32px;
  top: 12px;
}

.todays-min-temperature {
  font-size: 24px;
  top: 2vh;
  margin-left: 12px;
}

.min-degree {
  font-size: 18px;
  left: 4px;
  top: 1vh;
}

.umbrella-container,
.drop-container,
.air-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.umbrella-container span,
.drop-container span,
.air-container span {
  margin: 0.5vh;
}

.percentage {
  font-size: 20px;
}

.climate-data {
  font-size: 16px;
}

.forecast-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 60vw;
  min-width: 50px;
  margin: auto;
  align-items: center;
}

.forecast-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vw;
  padding: 1vh;
}

.forecast-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50vw;
}

.forecast-date {
  margin: 0 5vw 0 0;
}

.forecast-image {
  margin: 0 0 0 3vw;
  width: 6%;
}

.forecast-text {
  width: 250px;
  opacity: 0.6;
  margin: 0 0 0 1vw;
}

.min-temperature {
  margin: 0 0 0 0;
  width: 48px;
}

.max-temperature {
  margin: 0 3vw 0 0;
  width: 48px;
}
