.header-container {
  display: flex;
  flex-direction: row;
  width: 90vw;
  align-items: end;
  margin: 2% auto;
}

.header-container h3 {
  font-size: 24px;
  font-weight: bold;
  width: 60%;
}

.header-container span {
  font-weight: 600;
  font-size: 22px;
}

.search-city-input-and-image {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 2%;
  padding: 1%;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: linear-gradient(180deg, #957dcd 0%, #523d7f 100%);
}

.location-icon {
  width: 18px;
  height: auto;
}

.magnifying-glass {
  width: 24px;
  height: 22px;
}

.magnifying-glass:hover {
  cursor: pointer;
}
