.forecast-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 60vw;
  min-width: 50px;
  margin: auto;
  align-items: center;
}

.forecast-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 60vw;
  padding: 1vh;
}

.date {
  margin-left: 5vw;
}

.forecast-image {
  width: 38px;
  margin-left: 12%;
}

.forecast-text {
  opacity: 0.6;
  margin-left: 1vw;
}

.min-temperature {
  margin-left: 5vw;
}

.max-temperature {
  margin-left: 5vw;
}
