.register-page-container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 6vh auto 0 auto;
    
}

.register-page-container h1 {
    font-size: 32px;
    width: fit-content;
}
